@{
    ViewData["Title"] = "Here's the movie you registered!!";
}

<h1>This @ViewBag.Title has been registered!</h1>

<h2>ID: @ViewBag.ID</h2>

<h2>Title: @ViewBag.Title</h2>

<h2>Genre: @ViewBag.Genre</h2>

<h2>Year: @ViewBag.Year</h2>

<h2>Actors: @ViewBag.Actors</h2>

<h2>Directors: @ViewBag.Directors</h2>