@model Movie

@{
    ViewData["Title"] = "Here's the movie you registered!!";

}

<p>This @Model.Title has been registered!</p>

<p>ID: @Model.ID</p>

<p>Title: @Model.Title</p>

<p>Genre: @Model.Genre</p>

<p>Year: @Model.Year.Year</p>

<p>Actors: @Model.Actors</p>

<p>Directors: @Model.Directors</p>
